:root {
	--font-text: Montserrat, sans-serif;
	--font-title: 'PT Sans', sans-serif;
	--green: #0ec8cb;
	--grey: #777;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

body, html {
	min-height: 100%;
	width: 100%;
}

.clear::after, .clear::before {
	content: " ";
	display: table;
}

.clear::after {
	clear: both;
}

/* Main Styles */
body {
	font-family: var(--font-text);
	color: var(--grey);
}

.container {
	width: 100%;
	max-width: 970px;
	min-width: 360px;
	margin: 0 auto;
	padding: 0 15px;
}

.header {
	text-align: center;
	padding: 140px 0 100px;
	text-transform: uppercase;
}

.who {
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 4px;
	margin-bottom: 25px;
}

.title {
	color: var(--green);
	font-size: 48px;
	font-weight: 700;
	letter-spacing: 1px;
	margin-bottom: 35px;
}

.description {
	font: 18px/30px var(--font-title);
	padding: 0 21%;
}
